.container{
    height:250px;
    border-top: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    padding: 50px;
}

.title {
    font-weight: 400;
    color: white;
    background-color: rgba(0, 128, 0, 0.774);
    width: max-content;
    padding: 5px;
    transition: all 1s ease;
  }
  