.container{
    height:50px;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 18px;
    padding:0px 100px;
    position: relative;
    overflow: hidden;
}
.listItem{
    display:inline;
    margin-
}